.container {
    background: var(--color-purple-100) url(../../assets/images/background-pattern-desktop.svg) no-repeat top center / contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-default), sans-serif;
}

.wrapper {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: var(--spacing-300);
    padding: var(--spacing-500);
    gap: var(--spacing-300);
}

.head {
    display: flex;
    font-size: var(--font-preset1);
    line-height: var(--line-height-preset1);
    font-weight: var(--font-bold);
    color: var(--color-purple-950);
    margin: var(--spacing-400) 0;
    gap: var(--spacing-400);
}

.subhead {
    font-size: var(--font-preset2);
    line-height: var(--line-height-preset2);
    font-weight: var(--font-semibold);
    color: var(--color-purple-950);
}

.faq-item {
    border-bottom: 1px solid var(--color-purple-100);
    padding-bottom: var(--spacing-300);
}

.faq-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.faq-item .btn-acordeon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-300);
}

.faq-item p {
    margin-top: var(--spacing-300);
    font-size: var(--font-preset3);
    line-height: var(--line-height-preset3);
    font-weight: var(--font-regular);
    color: var(--color-purple-600);
}

.attribution { 
    font-size: 0.6875rem; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}