.container {
    background: var(--color-purple-100) url(../../assets/images/background-pattern-desktop.svg) no-repeat top center / contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-default), sans-serif;
}

.wrapper {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    width: 1200px;
    /* height: ; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: var(--spacing-300);
    padding: 50px;
    gap: var(--spacing-300);
}

.head {
    display: flex;
    font-size: var(--font-preset1);
    line-height: var(--line-height-preset1);
    font-weight: var(--font-bold);
    color: var(--color-purple-950);
    margin: var(--spacing-400) 0;
    gap: var(--spacing-400);
}






/* FAQs */

width: 139px;
height: 66px;

/* Display */
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 66px;
/* identical to box height */

color: #301534;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;




























.attribution { 
    margin: 100px 0;
    font-size: 0.6875rem; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}